doctype html
html
  head
    title= title
    script(src='//www.google.com/jsapi')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js')
    script(src='//www.google.com/jsapi')
    script(src='/javascripts/admin.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content